<div id="show">

<div id="map"></div>

<ul class="sentoDataDetail">
	<li class="dataLi">
		<div class="dataTitle namae">名前</div>
		<div class="dataText namae"><%= @mapDetail.namae %></div>
	</li>
	<li class="dataLi">
		<div class="dataTitle kyori">距離</div>
		<div class="dataText kyori"><%= image_tag 'ajax-loader.gif' %>現在地を取得中…</div>
	</li>
	<li class="dataLi">
		<div class="dataTitle jusho">住所</div>
		<div class="dataText jusho"><%= @mapDetail.jusho %></div>
	</li>
	<li class="dataLi">
		<div class="dataTitle tel">電話番号</div>
		<div class="dataText tel"><%= @mapDetail.tel %></div>
	</li>
	<li class="dataLi">
		<div class="dataTitle eigyo">営業時間</div>
		<div class="dataText eigyo"><%= @mapDetail.eigyo %></div>
	</li>
	<li class="dataLi">
		<div class="dataTitle kyujitu">休日</div>
		<div class="dataText kyujitu"><%= @mapDetail.kyujitu %></div>
	</li>
	<li id="ido" style="display:none;"><%= @mapDetail.ido %></li>
	<li id="keido" style="display:none;"><%= @mapDetail.keido %></li>
	<li class="route">
		<div class="routeBtn"><%= image_tag 'ajax-loader.gif' %>現在地を取得中…</div>
	</li>
</ul>

<%= link_to "", 'javascript:history.back();', class: 'back' %>

</div>



<%= javascript_include_tag 'show' %>