<!DOCTYPE html>
<html>
<head>
  <title><%= @pageTitle %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false"></script>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.14.1/build/cssreset/cssreset-min.css">
</head>
<body>
	<header id="header"><a href="/">銭湯マップ東京</a></header>
<%= yield %>
	<!-- <footer>© 銭湯マップ東京</footer> -->
</body>
</html>
